######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

deps/
target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
nbdist/
.nb-gradle/

### Other IDEs ###
.vscode
.claude
.opencode
.zed

### SpecKit ###
.specify

######################################################################
# Frontend
.DS_Store
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Log files
logs
*.log
*.log.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

######################################################################
# Others
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml

.flattened-pom.xml

######################################################################
# Test Tmp Folder
tests/
